<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54W69M4');</script>
<!-- End Google Tag Manager -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--dashboard_index/head_tags.html-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Create a free account and start managing your digital campaigns using Ezond. Start Now">
<meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="PIXINVENT">
<title>Analytics Dashboard - Ezond</title>

    
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon-dark.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-dark.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-dark.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-dark.png">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon-dark.png">
<link rel="shortcut icon" type="image/png" href="/img/favicon-dark.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="#4285f4">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" />


    <link rel="stylesheet" type="text/css" href="css/pageload.css">

    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    <!-- <link rel="stylesheet" type="text/css" href= "css/angular-material.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/gridster.css">

    <link rel="stylesheet" type="text/css" href="css/formio.css">
    
    <link rel="stylesheet" type="text/css" href="css/material.css">
    <link rel="stylesheet" type="text/css" href="css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="css/tribute.css">
    <link rel="stylesheet" type="text/css" href="css/dragula.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.webui-popover.css">
    <link rel="stylesheet/less" type="text/css" href="less/branding.less">
    <style type="text/css" id="less:dist-branding:less-v-1:05" href="css/main.css"></style>

<!-- END Custom CSS-->

<link rel="stylesheet" type="text/css" href="/css\font-awesome-4.7.0\css\font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<link rel="stylesheet" type="text/css" media="all" href="/css/daterangepicker.css" />
<link rel="manifest" href="/manifest.json">
<meta name="google-signin-client_id" content="258172867784-1dv5vdr6g2q321t76btruhnedv6g8339.apps.googleusercontent.com">
