<div ng-if="campaignsList.length == 0" style="padding-top: 100px;margin-top: 50px; margin: 0 auto;">
	<h2 style="color: #4680FF" class="text-center">Welcome to Ezond</h2>
	<h3 style="color: #4680FF" class="text-center">Create your first campaign to start managing it using Ezond</h3>
	<img style="display: block;margin: 0 auto 45px;width: 350px;" src="images/createimage.png" alt="">
	<md-button ng-click="createCampaign()"
	         style="display: block;margin: 0 auto 45px; background: #4680FF;padding: 0px 20px;" class="md-primary"><i
	      class="ion ion-plus white-c"></i><span class="white-c"> Create Your 1st Campaign</span>
	</md-button>
</div>