<div id="firstLoginPane" class="pa" style="width: 600px; min-height: 300px;">
    <div class="pa-body">
        <div class="pa-left">
            Welcome to Ezond Marketting Analytics Tool <%= user.first_name %> <%= user.last_name %>
            <br/><br/>
            If you have never used this tool before, <a href="#" class="bn bn-def">click here</a> for a quick 1 minute run through on how things work.
        </div>

        <div class="pa-right" style="width: 40%; margin-left: 10%;">
            Going premium gets you the following features: <br/>
                1. More dashboards <br/>
                2. More Analytics providers<br/>
                <br/>
            Are you an agency?<br/>
                Upgrading to an agency account gives you ... ? Find something business to say here Gabriel.

        </div>

    </div>
    <div class="pa-foot">
        Note: This will not be shown again.<br/><br/>
        <button class="pa-close bn bn-std bn-f" onclick="$(this).parent().parent().hide();">Got It!</button>
    </div>
</div>
