<div class="pl pl-2 page-content left-menu">
  <div class="pl-body">
    <ul class="lt lt-divs lt-light">
      <li><a class="lt-item" href="/admin/users">Users</a></li>
      <li><a class="lt-item" href="/admin/plans">Plans</a></li>
      <li><a class="lt-item" href="/admin/sitestats">Site stats</a></li>
      <li><a class="lt-item" href="/admin/apistatus">Api status</a></li>
      <li><a class="lt-item" href="/admin/apistatus">Site check rules</a></li>
      <li><a class="lt-item" href="<%- basePath %>app">Back to App.</a></li>
    </ul>
  </div>
</div>