<h2 style="font-weight: 900;" class="no-margin">Activities</h2>
<div style="margin: 0 auto; box-sizing: content-box; max-width: 1070px;padding-bottom: 50px;">
    <div class="margin-top" style="background: white;padding: 20px;" ng-repeat="action in activities | filter : {dashboard:filtredDashboard} | filter:filterinput" style="">
        <div layout="row" layout-align="center center">
            <div flex layout="row">
                <div flex>
                    <div layout="row">
                        <img style="width:2rem; border-radius:50%;height: 2rem;" class="margin-sm-right" ng-src="{{backendUrl}}apis/profileImage.php?user_id={{action.userIdx}}&{{timereport}}">
                        <span class="exe_hover_title md-title" style="cursor: pointer;" ng-click="OpenTaskPage(action.dashboardId)">{{action.userName}} on <b>{{action.dashboard}}</b></span>
                        <span flex=""></span>
                        <span style="font-size: 1.3rem; color: gray;">{{action.actionDisplayTime}}</span>
                    </div>
                    <div style="font-size: 1.4rem; line-height:1.7rem; width: 100%; overflow:hidden; border-radius: 0.5rem; border: solid 1px #aaaaaa; background-color: #f7f7f7; padding: 0.4rem; margin-bottom: 0.6rem; word-break: break-all;" ng-if="action.actionType==0" ng-bind-html="action.actionContent | trust">
                    </div>
                    <div style="font-size: 1.4rem; line-height:2rem; width: 100%; overflow:hidden; word-break: break-all;" ng-if="action.actionType==1">{{action.actionContent}}
                        <a ng-href="{{backendUrl}}apis/downloadFile.php?actionIdx={{action.actionIdx}}"
                           target="_blank" rel="noopener">
                          <b>{{action.actionDetail}}</b>
                        </a>
                    </div>
                    <div style="font-size: 1.4rem; line-height:2rem; width: 100%; overflow:hidden; word-break: break-all;" ng-if="action.actionType==2"> {{action.actionContent}}: {{action.actionDetail}}
                    </div>
                    <div style="font-size: 1.4rem; line-height:2rem; width: 100%; overflow:hidden; word-break: break-all;" ng-if="action.actionType==4"> {{taskMarkView(action)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top md-padding headtags" style="display: inline-block; background: #4681FF;">
        <a md-prevent-menu-close="md-prevent-menu-close" class="white-c md-title" ng-click="getUserActivities()">Load more activities</a>
    </div>
</div>