<div class="widget col-md-4">
	<div class="widget-content">
		<div class="widget-title">
			<div class="widget-title-icon"></div>
			<%= widget_title %>
		</div>

		<div class="widget-data">

			<div class="widget-column col-md-6">
				<div class="widget-param-value">
					<%= param_0_value %>
				</div>
				<div class="widget-param-name">
					<%= param_0_name %>
				</div>
			</div>

			<div class="col-md-6 widget-column">
				<div class="widget-param-value">
					<%= param_1_value %>
				</div>
				<div class="widget-param-name">
					<%= param_1_name %>
				</div>
			</div>

			<div class="clearfix"></div>

		</div>
	</div>
</div>